*{
    margin: 0px;
    padding: 0px;
}

body{
    /* align-items: center;  Need to check */
    background-color: #f3f2ef;
    display: flex;
    flex-direction: column;
}

/* Header */

.header_left img{
    object-fit: contain;
    height: 40px;
    padding-right: 5px;
}

.header{    
    align-items: center;
    background-color: white;
    border-bottom: 0.3px solid lightgray;
    display: flex;
    height: 55px;
    justify-content: space-evenly;
    padding: 10px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
}

.header_left{
    display: flex;
}

.header_right{
    display: flex;
}

.header_search{
    align-items: center;
    display: flex;
    background-color: #eef3f8;
    border-radius: 5px;
    color: gray;    
    height: 40px;
    padding: 10px;
}

.search{
    border: none;
    background-color: transparent;
    outline: none;
}

.header_options{
    align-items: center;
    color: #706c61;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-right: 30px;
}

.header_options:hover{
    cursor: pointer;
    color: black;
}

.header_options i{
    height: 15px;
    margin-right: 5px;
    width: 20px;
}

/* Body */

.app_body{
    display: flex;
    margin-top: 35px;
    max-width: 1200px;
    margin-left: 20px;
    margin-right: 20px;
    
    /* margin-top: 20px;
    margin: 0 20px;
    padding: 20px; */
}

/* Sidebar */

.sidebar{
    border-radius: 10px;
    flex: 0.2;
    height: fit-content;
    position: sticky;
    text-align: center;
    top: 80px;
    /* 
    top: 20px; 
     */
}

.sidebar_avatar{
    font-size: 75px;
    /* margin-bottom: 10px;  Need to check */
}

.sidebar_top{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgrey;
    border-bottom: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
    padding-bottom: 10px;
    /* margin-top: 10px; */
}

.sidebar_top img{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-bottom: -40px;
    height: 60px;
    object-fit: cover;
    width: 100%;
    /* margin-bottom: -40px;    
     */
}

.sidebar_top h2{
    font-size: 18px;
    /* font-weight: bold; */
}

.sidebar_top h4{
    color: grey;
    font-size: 12px;
    /* font-weight: lighter; */
}

.sidebar_stat{
    /* color: grey; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.sidebar_stats{ 
    background-color: white;
    border: 1px solid lightgray;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
    /* margin-top: -1px;   
    font-size: 13px;    
    font-weight: 200; */
}

.sidebar p{
    color: grey;
    font-size: 13px;
    font-weight: 600;
}

.sidebar_statNumber{
    color: #0a66c2 !important;
    font-weight: bold;
}

.sidebar_bottom{
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    text-align: left;
    /* border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
}

/* Need to check - without align-items and line-height
.sidebar_bottom p{    
    font-size: 13px;  
    padding-bottom: 10px;  
    align-items: flex-start;
    line-height: 7px;
} */

.sidebar_recentItems{
    display: flex;
    color: grey;
    cursor: pointer;
    font-size: 13px;
    font-weight: bolder;
    margin-bottom: 5px;
    padding: 5px;
}

.sidebar_recentItems:hover{
    background-color: whitesmoke;
    border-radius: 10px;
    cursor: pointer;
    color: black;
}

.sidebar_hash{
    margin-right: 10px;
    margin-left: 5px;
}

/* .sidebar_bottom .link{
    display: flex;
    justify-content: space-between;
}

.sidebar_recentsItemscents a{
    font-size: 12px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
}


.sidebar_recentsItemscents i{
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.discover{    
    text-align: center;
    background-color: white;
    border: 1px solid lightgray;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #435560;
    margin-top: -1px;
    font-size: 20px;
    padding: 10px;
}

.discover:hover{
    background-color: lightgray;
    cursor: pointer;
} */


/* Feed Section */
.feed{
    flex: 0.6;
    margin: 0 20px;
}

.feed_inputContainer{
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
    padding-bottom: 20px;
}

.feed_input{
    border: 1px solid lightgray;
    border-radius: 30px;
    color: grey;
    display: flex;
    padding: 10px;
    padding-left: 15px;
}

.feed_input form{
    display: flex;
}

.feed_input > form > input{
    border: none;
    flex: 1;
    font-weight: 600;
    margin-left: 10px;
    outline-width: 0;
    width: 100%;
}

.feed_input form button{
    display: none;
} 

.feed_inputOptions{
    display: flex;
    justify-content: space-evenly;
}

.inputOptions{
    align-items: center;
    color: grey;
    cursor: pointer;
    display: flex;
    margin-top: 15px;
    padding: 10px;
}

.inputOptions:hover{
    background-color: whitesmoke;
    border-radius: 7px;
}
.inputOptions h4{
    font-size: 15px;
    margin-left: 5px;
}

/* Post Section */
.post{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.post_header{
    display: flex;
    margin-bottom: 10px;
}

.post_avatar{
    font-size: 40px;
    padding-right: 5px;
}

.post_info p{
    color: gray;
    font-size: 12px;
}

.post_info h2{
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    margin-top: 5px;
}
.post_body{
    overflow-wrap: anywhere;
}
.post_button{
    display: flex;
}

/* Widgets Section */
.widgets{
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    flex: 0.2;
    height: fit-content;
    padding-bottom: 10px;
    position: sticky;
    top: 80px;
}

.widgets_header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.widgets_header h2{
    font-size: 16px;
    font-weight: 400;
}

.widgets_header i{
    font-size: 18px;
    padding-top: 10px;
}

.widgets_article{
    align-items:flex-start;
    cursor: pointer;
    display: flex;
    padding: 10px;
}

.widgets_article:hover{
    background-color: whitesmoke;
}

.widgets_articleLeft{
    font-size: 2px;
    margin-top: 5px;
    margin-right: 5px;
}

.widgets_articleLeft i{
    color: black;
    font-size: 8px;
    font-weight: bold;
}

.widgets_articleRight{
    flex: 1;
}

.widgets_articleRight h4{
    font-size: 14px;
    font-weight: bold;
    margin: 0px;
}

.widgets_articleRight p{
    font-size: 12px;
    color: gray;
}